body {
    font-family: 'Arial', sans-serif;
    background-color: #222;
    color: white;
    margin: 0;
    padding: 20px;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    color: #00bfff;
}

nav button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00bfff;
    color: #222;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0099cc;
}

/* Produk */
.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product-card {
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.product-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 18px;
    margin-bottom: 15px;
}

.product-card button {
    padding: 10px;
    font-size: 16px;
    background-color: #00bfff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #0099cc;
}

/* Keranjang */
.cart-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.cart-content {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

#cart-items {
    list-style-type: none;
    margin-bottom: 20px;
}

#cart-items li {
    margin-bottom: 10px;
}

#total-price {
    font-size: 20px;
}

#checkout-btn {
    padding: 10px;
    background-color: #ff8c00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

#close-cart-btn {
    padding: 10px;
    background-color: #ff4040;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}